<script>

    $(document).ready(function () {

        //CHargement des tableaux
        GetDonneesBilans();
    });


    //Get Donnees bilans carbones
    function GetDonneesBilans() {
        var baseUrl = '@Url.Content("~/Carbone/GetDonneesBilans/")';
        var tab_Annee = new Array();
        var tab_Logement = new Array();
        var tab_Transports = new Array();
        var tab_Alimentation = new Array();
        var tab_Dechets = new Array();
        var tab_Achats = new Array();
        var tab_Finance = new Array();
        var tab_ServicePublique = new Array();
        var tab_Total = new Array();

        $.ajax({
            url: baseUrl, type: "POST", async: true, dataType: "json",
            success: function (result) {
                $.each(result, function (index, itemData) {
                    var Annee = itemData.Annee;
                    var Logement = itemData.Logement;
                    var Transports = itemData.Transports;
                    var Alimentation = itemData.Alimentation;
                    var Dechets = itemData.Dechets;
                    var Achats = itemData.Achats;
                    var Finance = itemData.Finance;
                    var ServicePublique = itemData.ServicePublique;
                    var Total = itemData.Total;

                    tab_Annee.push(Annee);
                    tab_Logement.push(Logement);
                    tab_Transports.push(Transports);
                    tab_Alimentation.push(Alimentation);
                    tab_Dechets.push(Dechets);
                    tab_Achats.push(Achats);
                    tab_Finance.push(Finance);
                    tab_ServicePublique.push(ServicePublique);
                    tab_Total.push(Total);
                });
            },
            fail: function () {
                //$('#consoEau_txt_popup').html('Pas de données en base pour cette année');
            },
            complete: function () {
                //Graph total
                var graphTotal = document.getElementById("ch_BilansCarboneTotal").getContext('2d');
                DisplayGraphCarboneTotal(graphTotal, tab_Annee, tab_Total);

                //Graph détails
                var graphDetails = document.getElementById("ch_BilansCarboneDetails").getContext('2d');
                DisplayGraphCarboneDetails (graphDetails, tab_Annee, tab_Logement, tab_Transports, tab_Alimentation, tab_Dechets, tab_Achats, tab_Finance, tab_ServicePublique)
            }
        });
    };

    //Graphique total
    function DisplayGraphCarboneTotal (chart, tab_Annee, tab_Total) {
        //var ctx = document.getElementById("ch_ConsoEauDetailM").getContext('2d');
        var chart = new Chart(chart, {
            // The type of chart we want to create
            type: 'line',
            // The data for our dataset
            data: {
                labels: tab_Annee,
                datasets: [
                        { label: "Total", fill: true, borderColor: '#F44336', data: tab_Total, }
                    ]
            },

            // Configuration options go here
            options: {}
        });
    }

    //Graphique détails
    function DisplayGraphCarboneDetails (chart, tab_Annee, tab_Logement, tab_Transports, tab_Alimentation, tab_Dechets, tab_Achats, tab_Finance, tab_ServicePublique) {
        //var ctx = document.getElementById("ch_ConsoEauDetailM").getContext('2d');
        var chart = new Chart(chart, {
            // The type of chart we want to create
            type: 'line',
            // The data for our dataset
            data: {
                labels: tab_Annee,
                datasets: [
                        { label: "Logement", fill: false, borderColor: '#3F51B5', data: tab_Logement, },
                        { label: "Transports", fill: false, borderColor: '#424242', data: tab_Transports, },
                        { label: "Alimentation", fill: false, borderColor: '#9C27B0', data: tab_Alimentation, },
                        { label: "Déchets", fill: false, borderColor: '#00BCD4', data: tab_Dechets, },
                        { label: "Achats", fill: false, borderColor: '#795548', data: tab_Achats, },
                        { label: "Finance", fill: false, borderColor: '#FFEB3B', data: tab_Finance, },
                        { label: "Services publics", fill: false, borderColor: '#F44336', data: tab_ServicePublique, }
                    ]
            },

            // Configuration options go here
            options: {}
        });
    }

</script>




<h4 class="col-sm-12 titre-bloc">Evolution</h4>
<div class="sous-partie">
    <div class="row">

        <!--Graph total-->
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <canvas id="ch_BilansCarboneTotal"></canvas>
        </div>
        <div class="col-sm-2"></div>

    </div>
</div><br />


<h4 class="col-sm-12 titre-bloc">Détails</h4>
<div class="sous-partie">
    <div class="row">

        <!--Graph détails-->
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <canvas id="ch_BilansCarboneDetails"></canvas>
        </div>
        <div class="col-sm-2"></div>

    </div>
</div><br />