USE [Finance]
GO
/****** Object:  Table [dbo].[Epargne]    Script Date: 02/12/2019 17:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Epargne](
	[EpargneId] [int] IDENTITY(1,1) NOT NULL,
	[CompteId] [int] NULL,
	[Montant] [int] NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PF_EpargneId] PRIMARY KEY CLUSTERED 
(
	[EpargneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Epargne] ON 

INSERT [dbo].[Epargne] ([EpargneId], [CompteId], [Montant], [Date]) VALUES (2106, 2, 15500, CAST(N'2019-07-25T00:00:00.000' AS DateTime))
INSERT [dbo].[Epargne] ([EpargneId], [CompteId], [Montant], [Date]) VALUES (2107, 3, 5000, CAST(N'2019-07-25T00:00:00.000' AS DateTime))
INSERT [dbo].[Epargne] ([EpargneId], [CompteId], [Montant], [Date]) VALUES (2108, 4, 63763, CAST(N'2019-07-25T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Epargne] OFF
ALTER TABLE [dbo].[Epargne]  WITH CHECK ADD FOREIGN KEY([CompteId])
REFERENCES [dbo].[Ref_Compte] ([Ref_CompteId])
GO
