
<script type="text/javascript">
    $(document).ready(function () {

        GetDonneesChauffageGeneral();
    });




    //Get Donnees Conso Elec ANNEE
    function GetDonneesChauffageGeneral() {
        var baseUrl = '@Url.Content("~/Appartement/GetDonneesConsoChauffageGeneral/")';
        var tab_Annee = new Array();
        var tab_Cout = new Array();

        $('#tb_chauffage_general > tbody').empty();

        $.ajax({
            url: baseUrl, type: "POST", async: true, dataType: "json",
            success: function (result) {
                $.each(result, function (index, itemData) {
                    var Annee = itemData.Annee;
                    var ConsoTotale = itemData.ConsoTotale;
                    var ConsoPerso = itemData.ConsoPerso;
                    var CoutTotal = itemData.CoutTotal;
                    var KwhTotal = itemData.KwhTotal;
                    var KwhPerso = itemData.KwhPerso;
                    var CoutKwh = itemData.CoutKwh;
                    var CoutPersoRepartit = itemData.CoutPersoRepartit;
                    var CoutPersoAllRepartit = itemData.CoutPersoAllRepartit;
                    var CoutPersoNonRepartit = itemData.CoutPersoNonRepartit;


                    if (CoutPersoRepartit != 0) {
                        tab_Annee.push(Annee);
                        tab_Cout.push(CoutPersoRepartit);
                    }
                    else if (CoutPersoNonRepartit != 0) {
                        tab_Annee.push(Annee);
                        tab_Cout.push(CoutPersoNonRepartit);
                    }

                    var row = "<tr>";
                    row += "<td style='border-right: 1px solid;'><strong>" + Annee + "</strong></td>";

                    //Immeuble
                    if (ConsoTotale != 0) {
                        row += "<td><span>" + Math.trunc(ConsoTotale).toLocaleString() + " u</span></td>";
                    }
                    else {
                        row += "<td><center><span> - </span></center></td>";
                    }
                    row += "<td><span class='PurpleText'>" + KwhTotal.toLocaleString() + " kWh</span></td>";
                    row += "<td style='border-right: 1px solid;'><span class='PinkText'>" + CoutTotal.toLocaleString() + " €</span></td>";


                    //Perso
                    if (ConsoPerso != 0) {
                        row += "<td><span>" + Math.trunc(ConsoPerso).toLocaleString() + " u</span></td>";
                    }
                    else {
                        row += "<td><center><span> - </span></center></td>";
                    }
                    row += "<td><span class='PurpleText'>" + KwhPerso.toLocaleString() + " kWh</span></td>";
                    if (CoutPersoRepartit != 0) {
                        row += "<td><span class='PinkText'>" + Math.trunc(CoutPersoRepartit).toLocaleString() + " €</span></td>";
                    }
                    else {
                        row += "<td><center><span class='PinkText'> - </center></span></td>";
                    }
                    if (CoutPersoNonRepartit != 0) {
                        row += "<td><span class='PinkText'>" + Math.trunc(CoutPersoNonRepartit).toLocaleString() + " €</span></td>";
                    }
                    else {
                        row += "<td><center><span class='PinkText'> - </span></center></td>";
                    }
                    if (CoutPersoAllRepartit != 0) {
                        row += "<td><span class='PinkText'>" + Math.trunc(CoutPersoAllRepartit).toLocaleString() + " €</span></td>";
                    }
                    else {
                        row += "<td><center><span class='PinkText'> - </span></center></td>";
                    }
                    
                    row += "</tr>";
                    $('#tb_chauffage_general > tbody').append(row);
                });
            },
            fail: function () {

            },
            complete: function () {
                var graph = document.getElementById("ch_ConsoChauffageGeneral").getContext('2d');
                DisplayGraphConsoChauffageGeneral(graph, tab_Annee, tab_Cout);
            }
        });

    };


    //DisplayGraphConsoEauTotal
    function DisplayGraphConsoChauffageGeneral (chart, tab_Annee, tab_Cout) {
        var chart = new Chart(chart, {
            // The type of chart we want to create
            type: 'line',
            // The data for our dataset
            data: {
                labels: tab_Annee,
                datasets: [
                    { label: "Coût (répartit)", borderColor: '#FF5722', data: tab_Cout, }
                ]
            },

            // Configuration options go here
            options: {
                responsive: true,
                hoverMode:'index',
            }
        });

    }





</script>





<br />
<h4 class="col-sm-12 titre-bloc">Général</h4>
<div class="sous-partie">
    <div class="row">

        <div class="col-sm-8">
            <table id="tb_chauffage_general" class="mdl-data-table mdl-js-data-table">
                <thead>
                    <tr>
                        <th rowspan="2" style="vertical-align:middle;text-align:center; border-right: 1px solid;">Année</th>
                        <th colspan="3" style='border-right: 1px solid;'><center>Immeuble</center></th>
                        <th colspan="5"><center>Personnel</center></th>

                    </tr>
                    <tr>
                        <th><center>Conso</center></th>
                        <th><center>kWh</center></th>
                        <th style='border-right: 1px solid;'><center>Coût</center></th>
                        <th><center>Conso</center></th>
                        <th><center>kWh</center></th>
                        <th><center>Coût</center></th>
                        <th><center>Coût (0%)</center></th>
                        <th><center>Coût (100%)</center></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="col-sm-4">
            <canvas id="ch_ConsoChauffageGeneral"></canvas>
            
        </div>
    </div>
</div>


<br />
<h4 class="col-sm-12 titre-bloc">Consommation par années</h4>
<div class="sous-partie">

    <div class="row">

    </div>
</div>
























<!--POP UP AJOUTER CONSO ELEC-->
<!-- The Modal -->

<div id="modal_addConsoChauffage" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col-sm-10 form-group">
                <h2>Ajouter une nouvelle consommation</h2>
            </div>

            <div class="col-sm-2 form-group">
                <span id="closePopUpChauffage" class="close">&times;</span>
            </div>


            <!--Date-->
            <div class="col-sm-3 form-group">
                <span>Date :</span>
                <div class="valeur">
                    <input id="chp_consoChauffage_Date" class="mdl-textfield__input" name="Date">
                </div>
            </div>

            <!--Montant-->
            <div class="col-sm-3 form-group">
                <span>Montant :</span>
                <div class="valeur">
                    <input id="chp_consoChauffage_Montant" class="mdl-textfield__input" name="Estimation">
                </div>
            </div>
            <div class="col-sm-6 form-group"></div><br /><br />

            <!--Relevé cuisine -->
            <div class="col-sm-3 form-group">
                <span>Relevé cuisine :</span>
                <div class="valeur">
                    <input id="chp_consoChauffage_cuisine" class="mdl-textfield__input" name="Source">
                </div>
            </div>

            <!--Relevé salon -->
            <div class="col-sm-3 form-group">
                <span>Relevé salon :</span>
                <div class="valeur">
                    <input id="chp_consoChauffage_salon" class="mdl-textfield__input" name="Source">
                </div>
            </div>

            <!--Relevé salonTV -->
            <div class="col-sm-3 form-group">
                <span>Relevé salonTV :</span>
                <div class="valeur">
                    <input id="chp_consoChauffage_salonTV" class="mdl-textfield__input" name="Source">
                </div>
            </div>

            <!--Relevé bureau -->
            <div class="col-sm-3 form-group">
                <span>Relevé bureau :</span>
                <div class="valeur">
                    <input id="chp_consoChauffage_bureau" class="mdl-textfield__input" name="Source">
                </div>
            </div><br /><br />

            <!--Relevé chambre -->
            <div class="col-sm-3 form-group">
                <span>Relevé chambre :</span>
                <div class="valeur">
                    <input id="chp_consoChauffage_chambre" class="mdl-textfield__input" name="Source">
                </div>
            </div>

            <!--Relevé bnb -->
            <div class="col-sm-3 form-group">
                <span>Relevé chambre bnb :</span>
                <div class="valeur">
                    <input id="chp_consoChauffage_bnb" class="mdl-textfield__input" name="Source">
                </div>
            </div>

            <!--Relevé sdb -->
            <div class="col-sm-3 form-group">
                <span>Relevé sdb :</span>
                <div class="valeur">
                    <input id="chp_consoChauffage_sdb" class="mdl-textfield__input" name="Source">
                </div>
            </div><br /><br />




            <!--Btn add-->
            <div class="col-sm-4 form-group">
                <button class="mdl-button mdl-js-button mdl-button--accent" onClick="AjouterConsoChauffageAjax()">
                    Ajouter
                </button>
            </div>

        </div>
    </div>
</div>
